@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif
}

#particles-js {
    background: #1488CC;
    background: linear-gradient(to right, #2B32B2, #1488CC);
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}

section {
    padding: 2rem;
}

img {
    border-style: none
}

h1, h2 {
    margin-top: 1rem;
    padding-top: 1rem;
    line-height: 1;
    color: #333
}

h1 {
    margin-bottom: 5rem;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tec-her {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem
}

h3 {
    padding-top: 2rem;
    font-size: 2rem;
    color: #333;
    margin-bottom: 3rem;
    padding-bottom: 1rem
}

h4 {
    font-size: 1rem
}

a img {
    border: 0
}

.mt {
    margin-top: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%)
}

.header .site-title {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
}

@media only screen and (min-width:700px) {
    .header .site-title {
        margin: 0;
        font-size: 100px
    }
}

.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px
}

@media only screen and (min-width:700px) {
    .header .site-description {
        font-size: 40px
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

p a {
    text-decoration: none;
    color: #1C73C5;
    transition: .5 ease;
}

p a:hover {
    text-decoration: none;
    color: #293CB5
}

@media only screen and (min-width:550px) {
    .header-links .link {
        font-size: 20px
    }
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center
}

.down,
.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 12px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px
}

.header-icons .icon:active,
.header-icons .icon:hover {
    color: #1488CC;
    background: #fff
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer
}

.down .icon {
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    animation: pulse 1.3s infinite
}

.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover {
    color: #4b5664
}

#about {
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}

.tech {
    margin: 10px
}

.user {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user p {
    font-size: 16px
}

.user-details {
    text-align: center;
    margin: 5px auto
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 960px;
    margin: 0 auto
}

.user-projects {
    margin: 20px auto
}

.user-projects img {
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.user-projects h5 {
    margin: 0
}

.user-projects li {
    color: #1488CC;
    font-size: 1.1rem
}

.user-projects p {
    margin-right: 5px
}

.project-link {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    color: #1488CC;
    background-color: transparent;
    border: 1px solid #1488CC;
    border-radius: 10px;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out
}

.project-link:active,
.project-link:hover {
    background-color: #1488CC;
    border-color: #1488CC;
    color: #fff;
    transition: color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in
}

.footer {
    background: #1488CC;
    background: linear-gradient(to right, #2B32B2, #1488CC);
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    color: #fff
}

.footer .love {
    color: red
}

.footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
}

.bajo-nombre-proyecto {
    height: 2rem;
    width: 2rem;
}

/* MEDIAAAA */

@media only screen and (min-width:550px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}

@media only screen and (min-width:550px) {
    #about {
        width: 80%
    }
}

@media only screen and (min-width:550px) {
    #projects {
        width: 80%
    }
}

@media only screen and (min-width:550px) {
    .user {
        flex-wrap: nowrap;
        font-size: 75px
    }
}

@media only screen and (min-width:550px) {
    .contents {
        margin-left: 0;
        width: 48%
    }

    .contents,
    .contents-right {
        margin-top: -5%
    }

    .contents-right,
    .images-right {
        float: right;

    }

    .images-right img {
        float: right;
        width: 100%;
    }

    .images-left {
        float: left;
    }

    .images-left img {
        float: left;
        width: 100%
    }
}

.images-left img {
    width: 18rem;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    gap: 2rem
}

@media only screen and (max-width:700px) {

    .images-left {
        display: none
    }
}

.ancho-text {
    width: 26.5rem;
}

.section {
    display:flex;
    justify-content: center;
    width: 800px;
    height: 430px;
}

.section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.section img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%)
}

.size {
    font-size: 3rem ;
}

.botones-link {
    font-size: medium;
}

.contacto {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
}

@media only screen and (max-width:700px) {
    .section {
        width: 400px;
        height: 230px;
    }
}